:root {
	--main-color: #111;
	--secondary-color: #ffaa55;
	--tetriary-color: #222;
	--background-color: #040404;
	--text-color: #ccc;
}
.banner {
	box-sizing: border-box;
}
.banner > * {
	height: inherit;
	display: flex;
	align-items: center;
}


* {
	padding: 0;
	text-decoration: none;
	color: var(--text-color);
}
a:active {
	color: var(--secondary-color);
}
body > * { /* all direct children of body */
	/*box-shadow: 2px 2px 2px 2px #675a5a8f;*/
}
body {
	font-size: 1.5rem;
	gap: 8px;
	margin: 8px;
	height:100%;
	background-color: var(--background-color);
}
@media screen and (max-width: 800px) {
	header .menu{
		display: none;
	}

	body {
		min-width: 500px;
		min-height: 500px;
	}
	.icon-text {
		display: none;
	}
}
@media screen and (min-width: 1000px) {
	body {
		max-width: 1600px;
		margin: 4px auto;
	}
}

.profile-icon-large {
	width:100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}
section {
	padding: 5px;
}
main p, footer, header, section {
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: center;*/
	/*align-items: center;*/
}
content {
	/*justify-content: flex-start;*/
}
main > p { /* all direct children of main */
	background-color: #ccc;
	margin: 0;
}	
p {
	/* font-size: 1.5rem; */
	/* font-weight: bold; */
	color: #fff;
	/* text-decoration: wavy underline; */
}
header {
	grid-area: header;
	background-color: red;
}
main {
	grid-area: main;
	background-color: green;
	min-height: 1800px;
}
footer {
	grid-area: footer;
	background-color: yellow;
}
article {
	padding: 10px;
	justify-content: left;
}
article p {
	color: black;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    align-items: flex-start;
}
article p:first-child {
	font-size: 2rem;
	color: white;
}
content {
	grid-area: content;
	background-color: purple;
}
p ~ span {
	font-size: 1rem;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}
p ~ span::before, p ~ span::after {
	white-space: pre;
	color: red;
}
p ~ span::before {
	content: "\21AA";
}
p ~ span::after {
	content: "\21A9"; 
}
p ~ span:hover, p ~ span:hover::before, p ~ span:hover::after { /* hover all span after p */
	color: lightgreen;
	cursor: pointer;
}
.material-symbols-outlined,
.material-icons,
.icon-text {
	vertical-align: middle;
}
.material-symbols-outlined,
.material-icons {
	padding-bottom: 3px;
	margin-right: 30px;
}
h2 {
	font-size: 2rem;
}
.table {
	display: table;
	margin: 0 10px 0 10px;
}
.row {
	display: table-row;
 }

 .cell {
	 display: table-cell;
	 margin: 4px;
 }
 a {
	 text-decoration: none;
 }
 
 .row,
 .cell {
   padding: 10px;
   border: 1px solid #ccc;
 }

 .cell:nth-child(1) {
   font-weight: bold;
   color: yellow;
 }
 .map-container {
	width: 200px; /* Aanpassen aan de gewenste breedte */
	height: 200px; /* Aanpassen aan de gewenste hoogte */
	 overflow: hidden;
  }
  .leaflet-popup-content {
	color: black;
  }