/*style for the base*/
.menu {
    width:inherit;
    box-sizing: border-box;
}
.menu-left {
    float:left;
    position: relative;
}
.menu-right {
    float:right;
    position: relative;
}

.menu * {
    list-style: none;
    text-decoration: none;
    margin: 0;
    font-weight:700;
    transition: 200ms;
    align-items: center;
    z-index: 1;
}
/*navbar links coloring*/
.menu .nav a         { color: var(--text-color); }
.menu .nav.active a  { color: var(--text-color-2); }
.menu .nav:hover a   { color: var(--text-color-2); }
.menu .nav.active    { background-color: var(--main-color-3); }
.menu .nav:hover     { background-color: var(--main-color-2); }
.menu                { background-color: var(--main-color-4); }

/*dropdown links coloring*/
.menu .drop a        { color: var(--text-color); }
.menu .drop.active a { color: var(--text-color-2); }
.menu .drop:hover a  { color: var(--text-color-2); }
.menu .drop.active   { background-color: var(--main-color-2); }
.menu .drop:hover    { background-color: var(--secondary-color-3); }
.menu .subbar        { background-color: var(--main-color-3); }

.menu .navbar {
    display: flex;
    height: inherit;
}

.menu .navbar > * {
    height: inherit;
    padding-left:10px;
}

.menu .subbar {
    font-size: calc(100% - 1px);
    transition-delay: 200ms;
}
.menu .subbar > * {
    height: 30px;
    padding-left:8px;
}

/*style for the link*/
.menu .link a {
    display: flex;
    height: 100%;
    width: 100%;
}

/*nav visual*/
.menu .link {
    position: relative;
    padding-right:36px;
}
/*dropdown visual*/
.menu .subbar {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left:0;
    top: 100%;
}
/*nested dropdown visual*/
.menu .subbar .subbar {
    top: 0;
    left: 100%;
    white-space: nowrap;
}
.menu .dropdown:hover > ul {
    opacity: 1;
    visibility: visible;
    transition-delay: 50ms;
}


/**vertical line between elements and first in right menu */
.menu .nav:not(:first-child)::before,
.menu .menu-right .nav:first-child::before{
    content:"";
    border: solid var(--main-color-5);
    border-width: 1px 1px 0 0;
    position:absolute;
    left:0;
    top:15%;
    height:70%;
}

/*arrow down (nav)*/
.menu .nav > a::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--secondary-color-2);
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
/*arrow right (drop)*/
.menu .drop > a::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid var(--secondary-color);
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
/*not displaying arrow for items that are not a dropdown*/
.menu :not(.dropdown) > a::before {
    padding-right: 0;
    display: none;
}

/*line in>out*/
.menu .nav:after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 50%;
    bottom:0;
    background-color: var(--secondary-color-2);
    transition: all ease-in-out .15s;
}
/*line left>right*/
/*.menu .drop:after{*/
/*     content: '';*/
/*     position: absolute;*/
/*     width: 0;*/
/*     height: 2px;*/
/*     left: 0;*/
/*     bottom:0;*/
/*     background-color: var(--secondary-color);*/
/*     transition: width ease-in .25s;*/
/* }*/
/*display line*/
.menu .link:hover::after{
    width: 100%;
    left: 0;
}

.menu .no-padding {
    padding: 0;
}



